:root {
    --verde-principal: #12C9A6;
    --verde-secundario: #15A0A0;
    --roxo-principal: #7926AA;
    --roxo-secundario: #501B75;
    --cinza-fundo: #E3EBE9;
    --cinza-texto: #7E7E7E;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  a:hover{
    color: #ffffff;
  }
  

  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: var(--fundo-cinza);
  }
  
  body {
    font-family: Inter;
    font-size: 2rem;
    line-height: 1.5;
    background-color: var(--fundo-cinza);
  }
  .menu {
    width: 100%;
    height: 100%;
    background-color: var(--cinza-fundo);
    padding-left: 15rem;
    padding-right: 5rem;
  }
  /* Reset de estilos para remover padding, margin e definir lista sem estilo */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#dj-image{
    width: 75%;
    text-align: center;
    font-size: 5.5rem;
    height: 90%;
    font-weight: 800;
}

/* Estilo do menu principal */
nav ul {
    overflow: hidden;
    padding: 0;
    text-align: center; /* Alinha os itens do menu no centro */
    margin: 0;
}

/* Estilo dos itens do menu */
nav ul li {
    display: inline-block; /* Display inline-block para colocar os itens do menu lado a lado */
    padding: .5rem; /* Espaçamento interno para cada item do menu */
}

/* Estilo dos links dentro dos itens do menu */
nav ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: var(--cinza-texto);; /* Cor do texto dos links */
    font-size: 1.8rem; /* Tamanho da fonte dos links */
    font-weight: 600;
}

nav ul li a:hover {
    color: var(--roxo-principal);
}

#int-2-esc-child {
    margin-top: 5rem;
    padding-right: 6rem;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  
.mobile-menu ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: var(--cinza-texto);; /* Cor do texto dos links */
    font-size: 1.8rem; /* Tamanho da fonte dos links */
    font-weight: 700;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}
.atinei-btn {
    cursor: pointer;
    border: none;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2125;
    color: #7e7e7e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    background-color: transparent;
}

.atinei-btn:hover {
    color: #7926aa;
}

.event-title {
    text-align: center;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #7926aa;
    font-family: 'Inter', 'Source Sans Pro', sans-serif;
}


.event-title-grey {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #7e7e7e;
    font-family: 'Inter', 'Source Sans Pro', sans-serif;
}

.second-gray {
    background-color: #f1f1f1;
    color: #7e7e7e;
}
#main-title-f {
    height: 100%;
    margin-top: 8rem;
    margin-bottom: 8rem;
}
#title-form{
    color: #7926aa;
    font-size: 8rem;
    text-align: start;
    margin-left: 10rem;
}       
#axis-main{
    width: 60%;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
}

#axis-price {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 70rem;
    margin:0 auto;
}

#ext-plan{
    height: 100%;
    background-color: #E3EBE9;
    display: flex;
    flex-direction: row;
}
#int-plan{
    height: 100%;
    margin-bottom: 5.5rem;
}
#int-plan h1{
    color: #7926AA;
    font-size: 8rem;
    text-align: center;
    width: 95.5rem;
}
#int-vant{
    height: 100%;
    margin-bottom: 7.5rem;
}
#int-vant h1{
    color: #12C9A6;
    font-size: 8rem;
    text-align: center;
    width: 80%;
}
#cont-sec-par {
    margin-top: 2rem; 
    margin-left: 3rem;
    padding-right: 6rem;
}
#ext-funciona-2{
    height: 100%;
    background-color: #12C9A6;
}    
#int-funciona-2{
    padding-left: 15rem;
}

div#main-modelo {
    background: linear-gradient(to bottom, #fff 8%, #E3EBE9 8% 88%, #501B75 88%);
}

img.floating-image{
    width: 45rem;
}

.event-title-grey{
    text-align: start;
}
#text-amplie{
    width: 75%;
}

#make-ext-1 {
    min-height: 100%;
    margin-bottom: 3.5rem;
}
#make-int-1 {
    color: #f1f1f1;
    font-size: 3.5rem;
    text-align: center;
    width: 75%;
}

#int-1-perg > h1:nth-child(1){
    color: #7E7E7E;
    font-size: 8rem;
    text-align: start;
}

#ext-perg{
    height: 100%;
    background-color: #12C9A6;
}


#int-2-perg > div{
    margin-top: 2rem; 
    margin-left: 3rem;
    padding-right: 6rem;
}

#int-func{
    display: flex;
    justify-content: end;
    align-items: center;
}

h1.h1-funciona{
    color: #12c9a6;
    font-size: 8rem;
    text-align: start;
}

h1#h1-funciona-2{
    color: #7926AA;
    font-size: 8rem;
    text-align: start;
}

#int-func,#int-1-perg, #int-1-esc{
    padding-left: 15rem;
}
#int-1-esc > h1:nth-child(1){
    color: #12c9a6;font-size: 6rem;text-align: start;
}
h1#h1-sonhos{
    width: 75%;
    text-align: center;
    font-size: 5.5rem;
    height: 90%;
}
.custom-button {
    width: 21.8rem;
    height: 3.1rem;
    overflow: hidden;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
    font-family: 'Inter', 'Source Sans Pro', sans-serif;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #15a0a0;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
}

.custom-button-form {
    width: 26rem;
    height: 3.5rem;
    overflow: hidden;
    text-align: center;
    margin: 0 .5rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
    font-family: 'Inter', 'Source Sans Pro', sans-serif;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #12c9a6;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
}

.custom-paragraph {
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #e3eae9;
    font-family: 'Inter', 'Source Sans Pro', sans-serif;
    margin-top: 10px;
    /* Ajuste conforme necessário */
}
.custom-paragraph-second {
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--roxo-secundario);
    font-family: 'Inter', 'Source Sans Pro', sans-serif;
    margin-top: 10px;
    /* Ajuste conforme necessário */
}

.meu-cas {
    /* Define a imagem de fundo e a cor em camadas separadas */
    background-image: 
        linear-gradient(to top, #7926AA 0%, #7926AA 1.3rem, transparent 1.3rem, transparent 100%), /* Faixa roxa */
        url('../img/casamento.png'); /* Imagem de fundo */
    
    /* Ajusta o tamanho da imagem para cobrir 50% da altura e do gradiente para cobrir toda a área */
    background-size: 
        100% 100%, /* para o gradiente (estende-se por toda a área) */
        cover; /* para a imagem */
    
    /* Posiciona a imagem e o gradiente */
    background-position: 
        center top, /* para o gradiente (começa no topo do elemento) */
        center center; /* para a imagem (alinha a parte inferior da imagem com a parte inferior do elemento) */
    
    /* Faz com que cada camada de fundo (imagem e cor) se repita ou não */
    background-repeat: 
        no-repeat; /* para a imagem e o gradiente */

    color: white; /* Define a cor do texto como branco */
    text-align: center; /* Centraliza o texto */
    font-size: 20px; /* Define o tamanho do texto como 20px */
    padding-top: 8rem;
    padding-bottom: 12rem;

}
.my-party {
    /* Define a imagem de fundo e a cor em camadas separadas */
    background-image: 
        linear-gradient(to top, #12C9A6 0%, #12C9A6 1.3rem, transparent 1.3rem, transparent 100%), /* Faixa roxa */
        url('../img/party.png'); /* Imagem de fundo */
    
    /* Ajusta o tamanho da imagem para cobrir 50% da altura e do gradiente para cobrir toda a área */
    background-size: 
        100% 100%, /* para o gradiente (estende-se por toda a área) */
        cover; /* para a imagem */
    
    /* Posiciona a imagem e o gradiente */
    background-position: 
        center top, /* para o gradiente (começa no topo do elemento) */
        center center; /* para a imagem (alinha a parte inferior da imagem com a parte inferior do elemento) */
    
    /* Faz com que cada camada de fundo (imagem e cor) se repita ou não */
    background-repeat: 
        no-repeat; /* para a imagem e o gradiente */

    color: white; /* Define a cor do texto como branco */
    text-align: center; /* Centraliza o texto */
    font-size: 20px; /* Define o tamanho do texto como 20px */
    padding-top: 8rem;
    padding-bottom: 12rem;

}


.legend-icons {
    margin-top: 1.5rem;
    color: #12C9A6;
    text-align: center;
    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120.833%;
    /* 29px */
}
.legend-icons-secondary {
    margin-top: 1.5rem;
    color: #ffffff;
    text-align: center;
    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120.833%;
    /* 29px */
}

.hidden-style {
    display: none;
}

form {
    margin: 2rem;
}

.field-form {
    font-size: 1.8rem;
}


.div-externa {
    /* Estilos para a div externa (se necessário) */
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-interna {
    width: 30rem; /* Largura da div interna */
    height: 100%; /* Altura da div interna para torná-la quadrada */
    background-color: #D9D9D9; /* Cor de fundo */
    border-radius: 2rem; /* Bordas arredondadas */
    padding: 1.5rem 5.5rem; /* Espaçamento interno */
    box-sizing: border-box; /* Para incluir padding na largura/altura */
    display: flex;
    flex-direction: column; /* Para organizar os itens verticalmente */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    text-align: center; /* Centraliza o texto dos elementos filhos */
}
.div-interna-store {
    width: 30rem; /* Largura da div interna */
    height: 30rem; /* Altura da div interna para torná-la quadrada */
    background-color: #2c2c2c; /* Cor de fundo */
    border-radius: 2rem; /* Bordas arredondadas */
    padding: 1.5rem 5.5rem; /* Espaçamento interno */
    box-sizing: border-box; /* Para incluir padding na largura/altura */
    display: flex;
    flex-direction: column; /* Para organizar os itens verticalmente */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    text-align: center; /* Centraliza o texto dos elementos filhos */
}

.div-interna h1 {
    color: #15A0A0; /* Cor do título */
    font-size: 3.8rem;
    font-weight: 900;
    margin-bottom: 3rem;
}
.div-interna-store h1 {
    color: #15A0A0; /* Cor do título */
    font-size: 3.8rem;
    font-weight: 900;

}

.div-interna p {
    width: 100%;
    color: black; /* Cor dos parágrafos */
    font-size: 1rem;
    text-align: start;
}

.preco-premium-basico{
    color: #15A0A0; /* Cor do título */
    font-size: 3.8rem;
    font-weight: 900;
    margin-top: 1.7rem;
    margin-bottom: 0;
}
.span-por-mes{
    color: #7E7E7E; /* Cor dos parágrafos */
    font-size: 1rem;
    text-align: end;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--cinza-fundo);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--roxo-principal);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--roxo-secundario);
  }

  .img-logo{
      width: 20rem;
    }


@media (max-width: 1022px) {
    #axis-main{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    div.div-externa{
        width: 100%;
    }
    img.floating-image{
        width: 35rem;
    }

}
@media (max-width: 900px) {
    .menu {
        padding: 0;
        margin: 0;
    }
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-list {
        display: none;
    }
    .mobile-menu {
        background-color: var(--cinza-fundo);
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu ul li{
        margin: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
    #int-1-esc{
        padding-left: 5rem;
    }

  }
@media (max-width: 767px) {
    #fornecedores > div:nth-child(1) > div:nth-child(4) > div:nth-child(2),#frame-2 > div:nth-child(5) > div:nth-child(2){
        display: flex;
        flex-direction: column;
    }
    #int-1-esc > h1:nth-child(1),.event-title-grey,#dj-image,h1.event-title{
        font-size: 4.1rem;
        text-align: center;
        font-weight: 800;
        line-height: 5.5rem;
    }
    #logo {
        width:15rem;
    }
    #frame-1-button{
        display: flex;
        justify-content: center;
        background: linear-gradient(to top, #501B75 50%,#E3EBE9  50%);
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    div#main-modelo {
        background: linear-gradient(to bottom, #fff 8%, #E3EBE9 8%);
    }
    div#ext-model {
        background: linear-gradient(to bottom, var(--cinza-fundo) 20%, var(--roxo-secundario) 20%);
        padding: 0;
        margin: 0;
    }
    div#int-model {
        background-color: var(--cinza-fundo);
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        width: 100%;
    }
    #frame-1 > div:nth-child(3){
        display: flex;
        justify-content: center;

    }
    #int-1-perg,#int-1-esc, #int-func{
        padding-left: 0;

    }
    #int-1-perg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #int-func{
        justify-content: center;
    }

    #int-1-esc > h1:nth-child(1){
        text-align: center;
        padding: 1.5rem;
    }
    #int-1-perg > h1.event-title:nth-child(1){
        text-align: center;
        padding: .5rem;
        
    }
    #ext-model, #int-2-esc > div:nth-child(1){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #int-2-esc > div:nth-child(1) > p{
        text-align: center;
    }
    #int-2-esc-child {
        padding-right: 0;
        margin: 0 1.5rem;
    }
    h1#h1-sonhos, h1.h1-funciona{
        font-size: 4.1rem;
        text-align: center;
        font-weight: 800;
        line-height: 5.5rem;
    }
    #int-1-perg > h1:nth-child(1){
        color: #7E7E7E;
        font-size: 4.1rem;
        text-align: center;
    }
    p.custom-paragraph{
        text-align: center;
    }
    #int-2-perg > div{
        margin-top: 2rem; 
        margin-left: 2rem;
        padding-right: 2rem;
    }

    #make-ext-1 {
        min-height: 100%;
        margin-bottom: 5.5rem;
    }
    #text-amplie{
        width: 90%;
        font-size: 3.5rem;
    }
    h1#h1-funciona-2{
        color: #7926AA;
        font-size: 4rem;
        text-align: center;
    }
    #ext-funciona-2{
        height: 100%;
        background-color: #12C9A6;
    }    
    #int-funciona-2{
        padding-left: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .custom-paragraph-second {
        text-align: center;
        /* Ajuste conforme necessário */
    }
    b {
        display: block;
    }
    #int-vant{
        margin-bottom: 4.5rem;
    }
    #int-vant h1{
        font-size: 4.5rem;
        width: 90%;
    }
    div.bottom-sm{
        margin-bottom: 5rem;
    }
    #int-plan > div{
        display: flex;
        flex-direction: column;
    }
    #int-plan{
        height: 100%;
        margin-bottom: 5.5rem;
    }
    #int-plan h1{
        font-size: 4.5rem;
        width: 90%;
    }
    #title-form{
        font-size: 4.5rem;
        text-align: center;
        margin-left: 0;
    } 
    #cont-sec-par {
        margin-top: 2rem; 
        margin-left: 2rem;
        padding-right: 2rem;
    }
    

}